<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf8">
		<title>Sympathie-Tool</title>
		<link href="lib/bootstrap.min.css" rel="stylesheet" />
		<script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="lib/nv.d3.js"></script>
		<script src="lib/angularjs-nvd3-directives.js"></script>
		<link href="styles.css" rel="stylesheet" />
		<link href="lib/nv.d3.min.css" rel="stylesheet" />
		<script src="sentiment.js"></script>
	</head>
	<body ng-controller="myController">
		<header>
		</header>
		<div class="main" style="width:100%;margin-top:50px;">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="header-logo" ng-click="selectView('')">
						<img style="width:300px;margin-bottom:15px;" src="img/logo.png" />
					</div>
					<div class="content">
						<div ng-if="view != ''" class="navi-menu">
							<a href="" ng-if="view != ''" ng-click="selectView('')">Home</a>
							<a href="" ng-if="selectedData.topic && view == 'countries'" ng-click="selectView('topics')">Themenauswahl</a>
							<a href="" ng-if="selectedData.country && view == 'topics'" ng-click="selectView('countries')">Länderauswahl</a>

						</div>
						<div ng-if="view == ''" style="padding:40px;font-size:1.3em;clear:both;">
							<p>
								<b>Willkommen bei GeTwitter!</b><br>
							</p>
							<p>
							<b>Was sagt Deutschland über seine europäischen Nachbarn? Wir haben die Antwort!</b><br>
							</p>
							<span>Wir haben tausende von Tweets gesammelt und analysiert. Wählen Sie unten Länder  oder Themen, welche Sie interessieren und erfahren Sie die Meinung der Deutschen Twitter-User.</span>

						</div>
						<div style="clear:both;">
							<div ng-if="view == ''" class="main-buttons">
								<span class="view-select-button" ng-click="selectView('topics')">
									<img  style="height:200px;" src="img/topics.png" />
									<div style="text-align:center;margin:0px 10px;">
										Themen
									</div>
								</span>
							</div>
							<div ng-if="view == ''" class="main-buttons">
								<span class="view-select-button" ng-click="selectView('countries')">
									<img  style="height:200px;" src="img/countries.png" />
									<div style="text-align:center;">
										Länder
									</div>
								</span>
							</div>
							<div ng-if="view == 'topics'" class="list-container">
								<p style="padding-left:40px;font-size:1.2em;">
									<span ng-if="!selectedData.country">Wählen Sie ein Thema:</span>
									<span ng-if="selectedData.country">Vorhandene Themen für <span style="font-weight:bold;">{{selectedData.country.value}}</span>:</span>
								</p>
								<ul class="simple-list">
									<li ng-repeat="d in data" ng-class="{'simple-list-selected': selectedTopics[d.value]}" style="clear:both;overflow:hidden;" ng-click="selectTopic($index)">
										<span style="float:left;">
											<a href="" style="clear:both;">
												<span style="margin:0px 5px;">{{d.value}}</span>
											</a>
										</span>
										<span ng-if="selectedTopics[d.value]" class="list-checked"><span class="glyphicon glyphicon-ok"></span>
									</li>
								</ul>
							</div>
							<div ng-if="view == 'countries'" class="list-container">
								<p style="padding-left:40px;font-size:1.2em;">
									<span ng-if="!selectedData.topic">Wählen Sie ein Land:</span>
									<span ng-if="selectedData.topic">Vorhandene Länder-Statistiken zum Thema <span style="font-weight:bold;">{{selectedData.topic.value}}</span>:</span>
								</p>
								<ul class="simple-list">
									<li ng-repeat="c in countries" ng-class="{ 'simple-list-selected': selectedCountries[c]}" style="clear:both;overflow:hidden;" ng-click="selectCountry($index)">
										<span style="float:left;">
											<a href="" style="clear:both;">
												<span style="margin:0px 5px;">{{c}}</span>
											</a>
										</span>
										<span ng-if="selectedCountries[c]" class="list-checked"><span class="glyphicon glyphicon-ok"></span>
									</li>
								</ul>
							</div>
							<div class="graph-container">
								<div class="graph-header">
									<div ng-if="view == 'topics' && selectedData.country" style="margin-bottom:6px;">
										<span><img class="icon-small" src="img/countries.png" />{{selectedData.country.value}}</span>
									</div>
									<div ng-if="view == 'countries' && selectedData.topic" style="margin-bottom:6px;"> 
										<span><img class="icon-small" src="img/topics.png" />{{selectedData.topic.value}}</span>
									</div>
								</div>
								<div class="icon">
									<img ng-if="view == 'countries' && !selectedData.topic" src="img/countries.png" />
									<img ng-if="view == 'topics' && !selectedData.country" src="img/topics.png" />
								</div>
								<div ng-if="graphData.length" style="overflow:hidden;">
									<nvd3-multi-bar-horizontal-chart
										data="graphData"
										id="graphID"
										width="500"
										height="350"
										showValues="true"
										showYAxis = "true"
										showXAxis = "true"
										yaxislabel = "Anteil an nicht-neutralen Tweets (in %)"
										showLegend="true"
										forceY="[0,100]">
											<svg></svg>
									</nvd3-multi-bar-horizontal-chart>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>