<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf8">
		<title>Sympathie-Tool</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
		<script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="lib/nv.d3.min.js"></script>
		<script src="lib/angularjs-nvd3-directives.min.js"></script>
		<link href="styles.css" rel="stylesheet" />
		<link href="lib/nv.d3.min.css" rel="stylesheet" />
		<script src="sentiment.js"></script>
	</head>
	<body ng-controller="myController">
		<header>
		</header>
		<div class="main" style="width:100%">
			<div class="row">
				<div style="height:200px;">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div style="margin:0px auto;width:100%;overflow:hidden;border:1px solid #bbb;border-radius:5px;clear:both;">
						<div style="margin:20px;">
							<a href="" ng-if="view != ''" ng-click="selectView('')">Home</a>
							<a href="" ng-if="selectedData.values && view == 'countries'" ng-click="selectView('topics')">Themenauswahl</a>
							<a href="" ng-if="selectedData.values && view == 'topics'" ng-click="selectView('countries')">Länderauswahl</a>
							<span style="float:right;"><big>{{selectedData.country.value}}</big></span>
						</div>
						<div style="clear:both;">
							<div ng-if="view == ''" style="float:left;width:50%;padding:80px 0px;">
								<span style="width:250px;font-size:4em;margin:0px 100px;border:1px solid #ddd;border-radius:4px;padding:10px;clear:both;" ng-click="selectView('topics')">
									<a href="">Themen</a>
								</span>
							</div>
							<div ng-if="view == ''" style="float:left;width:50%;padding:80px 0px;">
								<span style="width:250px;font-size:4em;margin:0px 100px;border:1px solid #ddd;border-radius:4px;padding:10px;clear:both;" ng-click="selectView('countries')">
									<a href="">Länder</a>
								</span>
							</div>
							<div ng-if="view == 'topics'" style="float:left;width:50%;padding:80px 0px;">
								<ul class="simple-list">
									<li ng-repeat="d in data" ng-class="{'simple-list-selected': selectedTopics[d.value]}"><a href="" ng-click="selectTopic($index)"><span style="margin:0px 5px;">{{d.value}}</span></a></li>
								</ul>
							</div>
							<div ng-if="view == 'countries'" style="float:left;width:50%;padding:80px 0px;">
								<ul class="simple-list">
									<li ng-repeat="c in countries" ng-class="{ 'simple-list-selected': selectedCountries[c]}"><a href="" ng-click="selectCountry($index)"><span style="margin:0px 5px;">{{c}}</span></a></li>
								</ul>
							</div>
							<div ng-if="graphData.length" style="float:left;width:50%;padding:80px 0px;">
								<nvd3-multi-bar-horizontal-chart
									data="graphData"
									id="graphID"
									width="500"
									height="350"
									xAxis = "true"
									xAxisTickFormat="xAxisTickFormatFunction()"
									yAxisTickFormat="yAxisTickFormatFunction()"
									showLegend="true"
									showValues="true"
									showControls="true"
									grouped="true">
										<svg></svg>
								</nvd3-multi-bar-horizontal-chart>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>