<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf8">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
		<script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<link href="styles.css" rel="stylesheet" />
		<script src="sentiment.js"></script>
	</head>
	<body ng-controller="myController">
		<header>
		</header>
		<div class="main" style="width:100%">
			<div class="row">
				<div style="height:200px;">
				</div>
				<div style="margin:0px auto;width:800px;overflow:hidden;border:1px solid black;border-radius:5px;clear:both;">
					<div style="clear:both;overflow:hidden;">	
						<ul>
							<li ng-repeat="d in data"><a href="" ng-click="selectTopic(d)"><span style="margin:0px 5px;">{{d.value}}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>